<div class="container">
  <h1><%= @survey.name %></h1>

  <table class="questions table mt-5" data-controller="hello">

    <thead class="">
    <th>Question</th>
    <th>Response Count</th>
    <th>Controls</th>
    </thead>

    <% @questions.each do |question| %>

      <tr class="question spec-question-<%= question.id %>"
          data-hello-target="question"
          data-hello-question-id="<%= question.id %>"
      >
        <td>
          <%= question.text %>
        </td>
        <td>
          <%= question.answers.size %>
        </td>
        <td>
          <% if question.answers.present? %>
            <div>
              <a data-action="click->hello#greet"
                 data-question-id="<%= question.id %>"
                 data-state="closed">Show Responses</a>
            </div>

          <% end %>
        </td>
      </tr>

      <tr class="answer spec-question-<%= question.id %>-answer"
          hidden
          data-hello-target="answer"
          data-hello-question-id="<%= question.id %>"
      >
        <td colspan=3>
          <div class="ms-5">

            <turbo-frame id="answers-for-<%= question.id %>" src="<%= answers_path({question_id: question.id}) %>">
<!--               TurboLinks loads nested table here-->

            </turbo-frame>

          </div>
        </td>
      </tr>

    <% end %>

  </table>

</div>
